body {
  font-family: Arial;
  background: #f4f6f9;
  margin: 0;
}

.container {
  padding: 20px;
}

h1 {
  color: #222;
}

/* Form */

.form-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 10px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Summary */

.summary {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Table */

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background: #007bff;
  color: white;
}
